.card {
    background: rgba(197, 242, 194, 0.811);
    backdrop-filter: blur(2px);
    margin-top: 10px;
  }
  #name {
    font-size: 18px;
    font-weight: bold;

  }
  #status {
    font-size: 18px;
    font-weight: bold;
    
  }
  #description {
    font-size: 18px;
    font-weight: bold;
    
  }